.container {
    margin-bottom: 100px;
}

.c-bg-color {
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item {
    padding: 20px 40px;
}

.price {
    color: #ff1a73;
}

.buy-now {
    background-color: #ff3c89;
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    cursor: pointer;
}

.cat1 {
    background-color: orange;
}

.cat2 {
    background-color: orchid;
}

.cat3 {
    background-color: blue;
}

.cat1,
.cat2,
.cat3 {
    padding: 10px 30px;
    border-radius: 10px;
}

.categories h1 {
    color: white;
}

.categories img {
    width: 100px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 5px 10px 10px lightgray;
}

#contuct {
    height: 300px;
}

#contuct h6 {
    color: gray;
}